HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Package Files ###
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
/hs_err_pid18280.log
/hs_err_pid22348.log
/java
/data/#innodb_temp/
/data/mysql/
/data/performance_schema/
/data/sys/
/data/#ib_16384_0.dblwr
/data/#ib_16384_1.dblwr
/data/auto.cnf
/data/binlog.000001
/data/binlog.000002
/data/binlog.index
/data/ca.pem
/data/ca-key.pem
/data/client-cert.pem
/data/client-key.pem
/data/ib_buffer_pool
/data/ib_logfile0
/data/ib_logfile1
/data/ibdata1
/data/ibtmp1
/data/mysql.ibd
/data/private_key.pem
/data/public_key.pem
/data/server-cert.pem
/data/server-key.pem
/data/undo_001
/data/undo_002
/data/binlog.000003
/data/binlog.000004
/data/binlog.000005
/data/binlog.000006
/docker
